
<a routerLink="/member">Member</a>
<a routerLink="/product">Product</a>

<ul>
	<li *ngFor= "let i of arr">{{i}}</li>
</ul>

<!-- <p *ngIf = "isTrue">hello</p> -->
<p *ngIf = "myName === 'Marco'">Hello {{myName}}</p>

<!-- first way to use condition if in angular
<p *ngIf = "isTrue; else firstTemp">I'm true</p>
<ng-template #firstTemp>I'm false, oh shit</ng-template> -->


<p *ngIf = "isTrue; then firstTemp else secondTemp">I'm true</p>
<ng-template #firstTemp>I'm true</ng-template>
<ng-template #secondTemp>I'm false, oh shit</ng-template>


<router-outlet></router-outlet>